<h1>Groups</h1>
<p>These are all the Pollyanna groups on the site. The users for each group are just stored as user ID's, so if you're interested in who is in a
    particular group you may find it easier to visit that group's details page. To get there, just click the name of the group below.
</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Group ID</th>
        <th>Name</th>
        <th>Leader ID</th>
        <th>Leader Name</th>
        <th>Members</th>
        <th>Event Date</th>
        <th>Price Range</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th><input ng-model="model.group.groupName" class="form-control"/></th>
        <th><input ng-model="model.group.groupLeaderID" class="form-control"/></th>
        <th><input ng-model="model.group.groupLeaderName" class="form-control"/></th>
        <th><input ng-model="model.group.members" class="form-control"/></th>
        <th><input ng-model="model.group.eventDate" class="form-control"/></th>
        <th><input ng-model="model.group.priceRange" class="form-control"/></th>
        <th>
            <button ng-click="createGroup(model.group)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </th>
        <th>
            <button ng-click="updateGroup(model.group)" class="btn btn-success">
                &check;</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in model.groups">
        <td><a href="#/group-details/{{group._id}}">
            {{group._id}}</a></td>
        <td>{{group.groupName}}</td>
        <td>{{group.groupLeaderID}}</td>
        <td>{{group.groupLeaderName}}</td>
        <td>{{group.members}}</td>
        <td>{{group.eventDate}} </td>
        <td>{{group.priceRange}}</td>
        <td>
            <button ng-click="model.removeGroup(group)" class="btn btn-danger">X</button>
        </td>
        <td>
            <button ng-click="model.selectGroup(group)" class="btn btn-info">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>