<h2>Oh look! You're an admin.</h2>

<p>Listen, {{currentUser.firstName}}. I know it may not seem like much, but this site took a while to build.
    Don't let your admin power go to your head. You can do some cool stuff, like adding, updating, and deleting any user in the system.
    Please don't delete all the admins.</p>

<p>Use the links above to get to a table to search through assignments, gifts, groups, invites, or users.
    You'll also find buttons that allow you to perform any CRUD operations you'd like on those pages.
    For groups and users you can click "View" to see their details as the group leader or named user, respectively. Enjoy!</p>