<h2>Your Invites</h2>
<p>This is where you'll find any invitations to groups. Click the green check mark to accept, the red X to decline. Easy as that!</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>From</th>
        <th>To Group</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invite in model.invites">
        <td>{{invite.senderName}}</td>
        <td>{{invite.groupName}}</td>
        <td>
        <button ng-click="model.declineInvite(invite)" class="btn btn-danger">X</button>
        </td>
        <td>
            <button ng-click="model.acceptInvite(invite)" class="btn btn-success">
                &check;
            </button>
        </td>
    </tr>
    </tbody>

</table>