<h1>Invites</h1>
<p>Here you can see all the invites users have yet to respond to. When a user accepts an invite, the user is added to the group they were invited
to and the invite is deleted. Only group leaders and admins can create invites. Only one invite per user per group can exist at any given time (so
    you can't just send someone a bunch of invites to the same group). However, from this page you are able to create invitations to a group for users
    already in the group. This is impossible for group leaders to do because of the way they invite new users, but that restriction is not applied
    here. Try to avoid this, but know that a duplicate invite for a user won't cause them any real problems. If they're already in a group they'll stay in
    the group regardless of how they respond to the extra invitation.
</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Invite ID</th>
        <th>Group ID</th>
        <th>Group Name</th>
        <th>Sender ID</th>
        <th>Sender Name</th>
        <th>Receiver ID</th>
        <th>Receiver Name</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th><input ng-model="model.invite.groupID" class="form-control"/></th>
        <th><input ng-model="model.invite.groupName" class="form-control"/></th>
        <th><input ng-model="model.invite.senderID" class="form-control"/></th>
        <th><input ng-model="model.invite.senderName" class="form-control"/></th>
        <th><input ng-model="model.invite.receiverID" class="form-control"/></th>
        <th><input ng-model="model.invite.receiverName" class="form-control"/></th>
        <th>
            <button ng-click="model.createInvite(model.invite)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </th>
        <th>
            <button ng-click="model.updateInvite(model.invite)" class="btn btn-success">
                &check;</button>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invite in model.invites">
        <td>{{invite._id}}</td>
        <td>{{invite.groupID}}</td>
        <td>{{invite.groupName}}</td>
        <td>{{invite.senderID}}</td>
        <td>{{invite.senderName}}</td>
        <td>{{invite.receiverID}}</td>
        <td>{{invite.receiverName}}</td>
        <td>
            <button ng-click="model.removeInvite(invite)" class="btn btn-danger">X</button>
        </td>
        <td>
            <button ng-click="model.selectInvite(invite)" class="btn btn-info">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>